body{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;

    box-sizing: border-box;
}
body.lock{
    overflow: hidden;
}
.wrapper{
    min-height: 100%;
    background: #000000;
 overflow: hidden;
}
.container{
    background: #FFFFFF;
  max-width: 1248px;
  margin: 0 auto;
padding: 0 6%;
}
.header__block{
    display: flex;
    width: 100%;
    padding: 66px 0 0 0;

}
.header__block.activ{
    padding-bottom: 15px;
    border-bottom : 2px solid #D8D8D8;
}

.header__menu_list{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 0;
    margin-top: -2px;
    list-style: none;
   z-index: 9999;
   margin: 0;
}
.header__logo{
    z-index: 99;
    margin: 0 597px 0 0;
}

.menu__icon{
    display: none;
}
.pc .mobile{
    display: none;
}
.header__img{
    margin: 0 0 0 38px;
}
.header__bascet{
    display: flex;
    z-index: 99;
    padding: 0 0 0 7px;
    
}
.list__border{
    border-right: 2px #9A9A9A solid ;
}
.header__menu a{

color: #000000;
text-decoration: none;
font-size: 80%;
}
.header__menu li{
    padding: 0 48px 5px 15px;
}
.mobile__menu_search{
    width: 100%;
    margin: 0 auto;
    background: #EFEFEF;
border-radius: 4px;
outline: none;
}
.border__list{
    width: 100%;
    border-bottom: 2px solid #D8D8D8;
}


.header__menu{
    display: flex;
    width: 50%;
    padding: 2px 0 0 0;
    transition: 500ms;
}
.basket{
    padding: 0 0 5px 0;
   
}
.login{
    margin-right: 2px;
}


.basket_circle{
    width: 2px;
    height: 2px;
    border: 1px #000000 solid;
    border-radius: 50%;
    margin: 0 0 0 5px;
}
.basket__circle__block{
    display: flex;
    margin-top: -4.5px;
    margin-left: 2px;
}
.swiper {
    width: 600px;
    height: 600px;
  }
  .swiper-wrapper{
padding: 23px 0 0 0;
  }
  .swiper-wrapper.activ{
    padding: 6px 0 0 0;
      }
  .swiper-slide img{
    width: 100%;
    height: 100%;
  }

  .swiper-slide{
    position: relative;
  }
  .container-slider .swiper-pagination-bullet{
    background-color: white;
    border: 1px #FFFFFF solid;
    opacity: 1;
  }
  .container-slider .swiper-pagination-bullet-active{
    width: 9px;
    height: 9px;
    background: none;
border: 1px solid #FFFFFF;
  }
  .swiper-slide-active{
    position: relative;
  }
.swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 20px 0;
    z-index: 1;
}
.container-slider{

  width: 100%;
  z-index: 0;
}
main img{
    width: 100%;
}
.main__img{
    display: flex;
    align-items: center;
   width: 100%;
   min-height: 100%;
   padding: 23px 0 0 0;
}
.main__txt{
    position: absolute;
    top: 0;
    left: 0;
   height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    padding: 0 0 0 40px;
    z-index: 9999;
}
.price__head{

font-weight: 500;
font-size: 165%;
color: #FFFFFF;
z-index: 5;
padding: 0 0 20px 0;
margin: 0;
}
.price__price{

font-size: 130%;
color: #FFFFFF;
padding: 0 0 50px 0;
}
.price__button a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 100%;
    line-height: 26px;
    color: #FFFFFF;
    padding: 13px 0 14px 0;
   
}
.price__button{
    border: 2px solid #FFFFFF;
    border-radius: 6px;
}
.product{
    width: 100%;
}
.product_head{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.head__left{
font-weight: 500;
font-size: 165%;
line-height: 43px;
color: #000000;
}
.head__right{
    display: flex;
    align-items: center;
font-weight: 500;
font-size: 100%;
line-height: 26px;
text-transform: capitalize;
color: #A18A68;
}
.product_block_item_name{
    font-style: normal;
font-weight: 400;
font-size: 100%;
line-height: 26px;
color: #000000;
}
.product_block_item_price{
font-weight: 500;
font-size: 100%;
line-height: 26px;
text-transform: capitalize;
color: #A18A68;
}
.product_block{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 1px solid #D8D8D8;
    padding: 0 0 253px 0;
    transition: 500ms;
}

.product .product_block{
    justify-content: space-between;
}
.product__block_img{
    position: relative;
}
.product__hover{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
border-radius: 4px 4px 0px 0px;
padding: 22px 0;
z-index: 5;
opacity: 0;
visibility: hidden;
transition: 200ms;
}
.product__block_img:hover .product__hover{
    opacity: 1;
    visibility: visible;
    transform: rotate(360deg);
    transition: 200ms;
}
.product__hover a{
    text-decoration: none;
    font-weight: 700;
font-size: 80%;
line-height: 21px;
color: #000000;
margin: 0 auto;
}

.proudct__focus{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    visibility: hidden;
}
.product__focus_img{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
   margin: 0 auto;
   justify-content: space-evenly;
}
.focus_img_bascet{
    position: relative;
}
.focus_img_circle{
display: flex;
position: absolute;
top: 17px;
left: 0;
}
.focus_img_circle1 {
    width: 2px;
    height: 2px;
    border: 1px #000000 solid;
    border-radius: 50%;
    margin: 0 0 0 6px;
}
.focus_img_eys{
    position: relative;
}
.eys_circle{
    position: absolute;
    top: 3px;
    left: 10.5px;
    width: 7px;
    height: 7px;
    border: 2px black solid;
    border-radius: 50%;
}
.proudct__focus.activ{
    opacity: 1;
    visibility: visible;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.footer__block{
    display: flex;
    width: 100%;  
}

.footer__block_item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: 500ms;
}
.footer__block_item2{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 50px 0 0 0;
    margin: 0;
}
.footer__list li{
    padding: 0 41px 0 0;
}
.footer__list a {
  
font-size: 80%;
line-height: 27px;
color: #707070;
    text-decoration: none;
}
.footer__block__email input:focus {
    outline: none;
    
  }
  .footer__block__email{
    min-width: 396px;
  }
  .footer__block__email input{
    width: 100%;
    border: none;
font-size: 80%;
line-height: 27px;
color: #707070;
border-bottom: 1px solid #000000;
padding: 6px 0;
  }
  .footer__block__email{
    position: relative;
    padding: 37px 0 0 0;
  }
  .footer__block__email a{
    position: absolute;
    top: 44px;
    right: 20px;
    text-decoration: none;
    font-size: 120%;
    color: #707070;
  }
.footer__block_info{
    font-size: 80%;
line-height: 27px;
color: #000000;
    margin: 0;
    padding: 50px 0 0 0;
}
.footer__block_social{
    padding: 50px 0 0 0;

}
.footer__block_social img:not(:first-child){
padding: 0 0 0 30px;
}

.menu__sublist{
    position: relative;
}
.menu__sublist_block{
    background: #FFF;
    position: absolute;
    top: 46px;
    left: -278px;
    display: flex;
padding: 30px 0 27px;
margin: 0;
visibility: hidden;
opacity: 0;
animation: moveFromRight 400ms ease;
z-index: 3;
border:1px solid #D8D8D8;
}
.menu__sublist_block.activ{
    display: flex;
    visibility: visible;
    opacity: 1;
    animation: moveFromLeft 400ms ease;
}
.show{
    display: none   ;
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes show{
    to{
        display: none;
        min-height: 0;
        min-width: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
}
@keyframes moveFromLeft{
    from {
        transform: translateX(-100%) rotate(-90deg);
    }
    to {
        transform: translateX(0%) rotate(0deg);
    }
   } 
 
    .menu__sublist_block .menu__sublist_header{
        font-size: 70%;
line-height: 22px;
color: #000000;
padding: 12px 0 15px 0;
margin: 0;
    }
    .menu__sublist_block a{
        width: 100%;
        font-size: 70%;
        line-height: 22px;
        color: #707070;
        padding: 0;
        margin: 0;
    }
    .menu__sublist_block li{
        width: 100%;
        padding: 0 78px 7px 0;
    }
    .menu__sublist_item{
        margin: 0;
        padding: 0 38px 13px 32px;
    }
    .menu__sublist_item{
        width: 100%;
        list-style: none;
        border-right: 1px solid #D8D8D8;
    }
   
    .touch .menu__sublist::after{
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top:10px;
        left: 59px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid blue;
        transition: 500ms;
    }
    .touch .menu__sublist.activ::after{
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top:10px;
        left: 59px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid blue;
        rotate: 180deg;
        transition: 500ms;
    }
    .underline{
        padding-bottom: 21px;
        border-bottom: 3px solid #000000 ;
    }
    .underline.activ{
        opacity: 0;
        visibility: hidden;
    }
    .filter_product{
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #D8D8D8;
    }
    .filter_product.activ{
        padding-top: -17px;
    }

    .filter_product .product_block_item {
        width: 31%;
padding: 0 1.16% 0 1.15%;
    }
 
    .filter{
        display: flex;
        flex-direction: column;
        width: 25%;
        padding: 66px 0 0 0;
    }
    .filter.activ{
        padding: 79px 0 0 0;
    }
    .filter select{
        width: 90%;
        outline: none;
        font-size: 70%;
        line-height: 22px; 
        color: #000000;
        border: 1px solid #D8D8D8;
border-radius: 4px;
    }
    .filter__price{
        position: relative;
        display: flex;
        justify-content: center;
      align-items: center;
        width: 90%;
        height: 80px;
    }
    .min-value{
        position: absolute;
        top: 60px;
        left: 12px;
        font-size: 70%;
        color: #707070;
    }
    .max-value{
        position: absolute;
        top: 60px;
        left: 90px;
        font-size: 70%;
        color: #707070;
        
    }
    .max-value input{
        padding: 0;
        margin-left: -15px;
        outline: none;
    }
    .max-value span{
        margin-left: -10px;
    }
    .max-value a{
        text-decoration: none;
        font-size: 14px;
line-height: 70%;
color: #A18A68;
padding: 0 0 0 80px;
    }
    .min-value input{
        padding: 0;
        margin-left: -14px;
        outline: none;
    }
    .filter__price input[type="number"]{
        width: 50px;
        height: 30px;
        border: none;
        background: none;
        font-size: 70%;
        font-weight: 700;
        text-align: center;
        border-radius: 5px;
        
    }
    .filter__price input[type="number"]::-webkit-outer-spin-button,
    .filter__price input[type="number"]::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }
    .filter__price .range-slider{
        display: flex;
        position: relative;
        width: 100%;
        height: 5px;
        background: #D8D8D8;
        outline: none;
        top: 1px;
        margin: 0;
    }
    .filter__price .progress{
        left: 0%;
        right: 0%;
        height: 100%;
        background: #000000;
        border-radius: 50px;
        position: absolute;
    }
    .filter__price .range-slider input[type="range"]{
        position: absolute;
        top: -8px;
        left: 0;
        width: 100%;
        -webkit-appearance: none;
        pointer-events: none;
        background: none;
        outline: none;
    }
    .filter__price .range-slider input::-webkit-slider-thumb{
        pointer-events: auto;
        -webkit-appearance: none;
        width: 6px;
        height: 17px;
        background: #000000;
        border-radius: 50px;
    }
    .block__checkbox{
        display: flex;
        flex-direction: column;
    }
    .filter__price_label{
        font-size: 80%;
        line-height: 27px;
        color: #000000;
    }
    .filter__price_label1{
        font-size: 80%;
        line-height: 27px;
        color: #000000;
    }
    .filter__head_search{
        width: 100%;
        position: relative;
        display: flex;
        padding: 0 0 39px 0;
    }
    .filter__head{
padding: 96px 0 0 0;
    }
    .filter__head_search input{
        width: 90%;
        border: none;
        border-bottom: 1px solid #D8D8D8;
        font-size: 70%;
        padding: 0 0 8px 5px;
        outline: none;
    }
   
    .filter__head_search input:focus{
        border-bottom: 3px solid #000000; 
        padding: 0 0 6px 5px;
    }
    .filter__head_search a::after{
       content: url(./img/icon/search_icon_black.png);
       position: absolute;
       right: 30px;
       display: flex;
       z-index: 2;
    }
  .filter_item{
    width: 75%;
    padding: 66px 0 0 0;
    
  }

  .filter_item.activ{
    padding: 161px 0 0 0;
  }
  .filter__select{
    position: relative;
    padding: 0 0 16px 0;
  }
  .filter__select::after{
    content:url(./img/footer/simvol/Icon_arrow.png);
    position: absolute;
    top: 12px;
    right: 45px;
    rotate: -90deg;
    transition: 500ms;
  }
  .filter__select.activ::after{
    content:url(./img/footer/simvol/Icon_arrow.png);
    position: absolute;
    top: 12px;
    right: 45px;
    rotate: 0deg;
    transition: 500ms;
  }
  .filter__select select{
    padding: 15px 0 16px 10px;
    background: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
  }
  
  .filter__price_input{
    position: absolute;
    top: 46px;
    right: 0;
margin: 0;
padding: 0;
display: none;
  }
  .checkbox__item{
    position: relative;
    width: 90%;
    display: flex;

  }
  .filter__price_label{
    position: relative;
    padding: 39px 0 0 0;
    margin: 0;
  }
  .filter__price_label::before{
    content: "";
    position: absolute;
    top: 46px;
    left: 245px;
    width: 33px;
    height: 20px;
    background: #707070;
    border-radius: 20px;
  }
  .filter__price_label::after{
    content: "";
    position: absolute;
    top: 49px;
    left: 248px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    transition: 500ms;
  }
  .filter__price_label.activ::after{
    content: "";
    position: absolute;
    top: 49px;
    left: 260px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    transition: 500ms;
  }
  .filter__price_label1{
    position: relative;
    padding: 39px 0 0 0;
    margin: 0;
  }
  .filter__price_label1::before{
    content: "";
    position: absolute;
    top: 46px;
    left: 245px;
    width: 33px;
    height: 20px;
    background: #707070;
    border-radius: 20px;
  }
  .filter__price_label1::after{
    content: "";
    position: absolute;
    top: 49px;
    left: 248px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    transition: 500ms;
  }
  .filter__price_label1.activ::after{
    content: "";
    position: absolute;
    top: 49px;
    left: 260px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    transition: 500ms;
  }
  .filter__header{
    flex-direction: column;
    display: flex;
    width: 100%;
    padding: 16px 0 0 0;
  }
  .filter__header.activ{
padding: 0;
  }
  .filter__header input{
    background: #EFEFEF;
border-radius: 4px;
outline: none;
border: none;
padding: 5px 30px;
font-size: 70%;
line-height: 22px;
color: #707070;
width: 100%;
  }
  .filter__header_search{
    width: 100%;
    padding: 10px 0 0 0;
    position: relative;
    display: none;
  }
  .filter__header_search::before{
   content: url(./img/icon/search_grey.png);
   width: 14px;
   height: 14px;
   position: absolute;
   top: 15px; left: 10px;
  }
  .filter_burger a{
    display: none;
}
.mobile__filter{
    display: none;
}
.filter__button{
    display: none;
}
.product_block_item{

    width: 31%;

}
.product__sale{
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 24px;
    font-size: 60%;
    color: white;
    background: #A18A68;
border-radius: 4px;
}
.filter__categories{
    display: flex;
        flex-direction: column;
        width: 100%;
}
.categories_button{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.button__veiv_all{
    width: 50%;
    font-weight: 700;
    font-size: 80%;
    line-height: 27px;
    color: #FFFFFF;
            margin: 20px 0 0 0;
            padding: 8px 14px;
            border: 2px solid #FFFFFF;
    border-radius: 6px;
    background: #000000;
    
}
.wrapper_button{
    display: flex;
    width: 90%;
    justify-content: center;
}
.filter__block.lock{
    overflow: hidden;
}
.filter_item.lock{
    overflow: hidden;
}
@media(min-width: 1318px){

    .pc .mobile{
        display: none;
    }
    .touch .mobile{
        display: none;
    }
}  

@media(max-width: 1318px){
    .max-value a{
        text-decoration: none;
        font-size: 14px;
line-height: 70%;
color: #A18A68;
padding: 0 0 0 70px;
    }
    .filter__price_label{
        position: relative;
        padding: 39px 0 0 0;
        margin: 0;
      }
      .filter__price_label::before{
        content: "";
        position: absolute;
        top: 46px;
        left: 185px;
        width: 33px;
        height: 20px;
        background: #707070;
        border-radius: 20px;
      }
      .filter__price_label::after{
        content: "";
        position: absolute;
        top: 49px;
        left: 188px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
        transition: 500ms;
      }
      .filter__price_label.activ::after{
        content: "";
        position: absolute;
        top: 49px;
        left: 200px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
        transition: 500ms;
      }
      .filter__price_label1{
        position: relative;
        padding: 39px 0 0 0;
        margin: 0;
      }
      .filter__price_label1::before{
        content: "";
        position: absolute;
        top: 46px;
        left: 185px;
        width: 33px;
        height: 20px;
        background: #707070;
        border-radius: 20px;
      }
      .filter__price_label1::after{
        content: "";
        position: absolute;
        top: 49px;
        left: 188px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
        transition: 500ms;
      }
      .filter__price_label1.activ::after{
        content: "";
        position: absolute;
        top: 49px;
        left: 200px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
        transition: 500ms;
      }
    .header__logo{margin: 0 407px 0 0;}
    .touch .mobile{
        display: none;
    }
    .product_block_item{
        width: 31%;
        padding: 0 1.16% 0 1.15%;
    }
}
@media(max-width: 1248px){
    .max-value a{
        text-decoration: none;
        font-size: 14px;
line-height: 70%;
color: #A18A68;
padding: 0 0 0 30px;
    }
    .product_block{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .product_block_item{
        width: 31.333%;
    }
    .product_block_item img{
        width: 100%;
    }
    .product_block_item_name{
    font-size: 100%;
    line-height: 100%;
    }
    .product_block_item_price{
    font-size: 100%;
    line-height: 100%;
    }
    .head__left{
    font-size: 165%;
    line-height: 100%;

    }
     .head__right{
        font-size: 100%;
        line-height: 100%;
    
        }
}

@media(max-width: 1130px){
    .max-value a{
        text-decoration: none;
        font-size: 14px;
line-height: 70%;
color: #A18A68;
padding: 0 0 0 5px;
    }
    .head__left{
        font-size: 165%;
        line-height: 100%;
    
        }
    .product_block{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 0 223px 0;
    }
    .product_block_item{
        width: 31.333%;
    }
    .product_block_item img{
        width: 100%;
    }
   
    .header__logo{margin: 0 157px 0 0;}
    .touch .mobile{
        display: none;
    }
    .footer__block__email{
        order: 2;
    }
    .footer__list{
order: 1;
    }
    .product_block_item img{
        width: 100%;
        
    }
    @media(max-width: 1054px){
        
    .filter__price_label{
        position: relative;
        padding: 39px 0 0 0;
        margin: 0;
      }
      .filter__price_label::before{
        content: "";
        position: absolute;
        top: 46px;
        left: 145px;
        width: 33px;
        height: 20px;
        background: #707070;
        border-radius: 20px;
      }
      .filter__price_label::after{
        content: "";
        position: absolute;
        top: 49px;
        left: 148px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
        transition: 500ms;
      }
      .filter__price_label.activ::after{
        content: "";
        position: absolute;
        top: 49px;
        left: 160px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
        transition: 500ms;
      }
      .filter__price_label1{
        position: relative;
        padding: 39px 0 0 0;
        margin: 0;
      }
      .filter__price_label1::before{
        content: "";
        position: absolute;
        top: 46px;
        left: 145px;
        width: 33px;
        height: 20px;
        background: #707070;
        border-radius: 20px;
      }
      .filter__price_label1::after{
        content: "";
        position: absolute;
        top: 49px;
        left: 148px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
        transition: 500ms;
      }
      .filter__price_label1.activ::after{
        content: "";
        position: absolute;
        top: 49px;
        left: 160px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
        transition: 500ms;
      }
        .product_block{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 0 120px 0;
        }
        .footer__block__email{
            order: 1;
        }
        .footer__list{
order: 2;
        }
    }
}
@media(max-width: 901px){
    .max-value a{
        text-decoration: none;
        font-size: 14px;
line-height: 70%;
color: #A18A68;
padding: 0 0 0 5px;
margin-left: -15px;
    }
    .filter__price_label{
        position: relative;
        padding: 39px 0 0 0;
        margin: 0;
      }
      .filter__price_label::before{
        content: "";
        position: absolute;
        top: 46px;
        left: 115px;
        width: 33px;
        height: 20px;
        background: #707070;
        border-radius: 20px;
      }
      .filter__price_label::after{
        content: "";
        position: absolute;
        top: 49px;
        left: 118px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
        transition: 500ms;
      }
      .filter__price_label.activ::after{
        content: "";
        position: absolute;
        top: 49px;
        left: 130px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
        transition: 500ms;
      }
      .filter__price_label1{
        position: relative;
        padding: 39px 0 0 0;
        margin: 0;
      }
      .filter__price_label1::before{
        content: "";
        position: absolute;
        top: 46px;
        left: 115px;
        width: 33px;
        height: 20px;
        background: #707070;
        border-radius: 20px;
      }
      .filter__price_label1::after{
        content: "";
        position: absolute;
        top: 49px;
        left: 118px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
        transition: 500ms;
      }
      .filter__price_label1.activ::after{
        content: "";
        position: absolute;
        top: 49px;
        left: 130px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
        transition: 500ms;
      }
    .price__head{
    font-weight: 500;
    font-size: 150%;
    color: #FFFFFF;
    z-index: 5;
    padding: 0 0 20px 0;
    margin: 0;
    }
    .price__price{
        font-style: normal;
    font-weight: 400;
    font-size: 115%;
    color: #FFFFFF;
    padding: 0 0 50px 0;
    }
    .price__button a{
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-weight: 700;
        font-size: 85%;
        line-height: 26px;
        color: #FFFFFF;
        padding: 10px 0 10px 0;
       
    }
    .head__left{
        font-size: 150%;
        line-height: 100%;
    
        }
    .product_block{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 0 80px 0;
    }
    .product_block_item{
        width: 31.333%;
    }
    .product_block_item img{
        width: 100%;
    }
    .header__{margin: 0 107 0 0;}
    .header__bascet{flex-wrap: wrap;}
    .touch .mobile{
        display: none;
    }
}
@media(max-width: 767px){
    .wrapper_button{
        justify-content: start;
    }
    .button__veiv_all{
        width: 40%;
        font-weight: 700;
        font-size: 80%;
        line-height: 27px;
        color: #FFFFFF;
        margin: 5px 0 0 0;
                padding: 8px 14px;
                border: 2px solid #FFFFFF;
        border-radius: 6px;
        background: #000000;
    }
    #sort-desc{
        display: none;
    }
    .filter__head_search{
        width: 45%;
    }
    .filter__select{
        width: 45%;
    }
    .filter__price .range-slider{
        display: flex;
        position: relative;
        width: 44%;
        height: 5px;
        background: #D8D8D8;
        outline: none;
        top: 1px;
    justify-content: start;
    }
    .filter__price{
        justify-content: start;
    }
    .header__block.activ{
        padding-bottom: 15px;
        border-bottom : 0.2px solid #FFFFFF;
    }
    .filter__head{
        padding: 24px 0 10px 0;
            }
    .filter__header_search{
        display: block;
    }
    .filter_item{
        width: 100%;
        padding: 20px 0 0 0;
        
      }
    .filter__block{
        padding: 20px 20px;
        width: 87%;
        height: 150%;
       position: absolute;
       top: 0;
       left: 0;
       background: #FFF;
    visibility:visible;
    opacity: 1;
    z-index: 100;
    
    }
    .filter__block.hidden{
        visibility: hidden;
        opacity: 0;
        }
    .filter{
        width: 0;
        padding: 24px 0 0 0;
        background: #FFFFFF;
        
    }
    .filter__button{
        padding: 20px 0 0 0;
        display: flex;
        justify-content: start;
    }
    .filter__button button{
        font-weight: 700;
font-size: 80%;
line-height: 27px;
color: #FFFFFF;
        margin: 0 20px 0 0;
        padding: 8px 14px;
        border: 2px solid #FFFFFF;
border-radius: 6px;
background: #000000;
    }
    .filter_burger{
        z-index: 12;
        display: flex;
        position: relative;
        left: 0;
        width: 18px;
        height: 12px;
        cursor: pointer;
    }
    .filter_burger a{
        display: flex;
    align-items: center;
        text-decoration: none;
        font-size: 60%;
line-height: 20px;
color: #A18A68;
margin-left: 25px;

    }

    .filter_burger span,
    .filter_burger::before,
    .filter_burger::after{
left: 0;
position: absolute;
height: 10%;
width: 100%;
transition: all 0.3s ease 0s;
background:  #A18A68;
    }
    .filter_burger::before,
    .filter_burger::after{
       content: ''; 
    }
    .filter_burger::before{
top: 0;
    }
    .filter_burger::after{
        bottom: 0;
    }
    .filter_burger span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .filter_burger.activ span{
        transform: scale(0) translate(0px, -50%);
    }
    .filter_burger.activ::before{
        top:50%;
        transform: rotate(-45deg) translate(0, -50%);
    }
    .filter_burger.activ::after{
        bottom:50%;
        transform: rotate(45deg) translate(0, 50%);
    }
    .filter__head span{
        display: none;
    }
    .filter__head{
        line-height: 0;
    }
 
    .touch .menu__sublist::after{
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top:33px;
        left: 59px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid blue;
        transition: 500ms;
    }
    .touch .menu__sublist.activ::after{
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top:33px;
        left: 59px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 10px solid blue;
        rotate: 180deg;
        transition: 500ms;
    }
    .menu__sublist_item span{
      
font-weight: 900;
    }
    .menu__sublist_item{
        border-right: none ;
        width: 65%;
        border-bottom: 1px solid #D8D8D8;
        margin: 0 auto;
    }
    .menu__sublist_block{
        background: #FFF;
        position: absolute;
        top: 60px;
        left: 0;
        display: flex;
        flex-direction: column;
    padding: 30px 0 27px;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    animation: moveFromRight 400ms ease;
    z-index: 5;
    border:1px solid #D8D8D8;
    }
    .container-slider .swiper-pagination-bullet-active{
        width: 7px;
        height: 7px;
       
      }
      .container-slider .swiper-pagination-bullet{
        width: 6px;
        height: 6px;
      }
    .product_block{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        border: 0;
    }

    .footer{
        padding: 10% 0 0 0;
    }
    .footer__list{
        flex-direction: column;
    }
    .footer__list :not(:first-child){
        padding: 6px 0 0 0;
    }
    .footer__block_item{
        flex-direction: column;
    }
    .footer__block_item2{

        flex-direction: column;
    }
    .footer__block_txt{
        order:1;
}
    .main__txt{
        padding: 0 0 0 30px;
    }
    .price__head{
        font-style: normal;
    font-weight: 500;
    font-size: 135%;
    color: #FFFFFF;
    z-index: 5;
    padding: 0 0 20px 0;
    margin: 0;
    }
    .price__price{
       
    font-size: 100%;
    color: #FFFFFF;
    padding: 0 0 25px 0;
    }
    .price__button a{
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-style: normal;
        font-weight: 700;
        font-size: 85%;
        line-height: 22px;
        color: #FFFFFF;
        padding: 10px 0 10px 0;
    }
    .head__left{
        font-size: 135%;    
        }
         .head__right{
            font-size: 90%;

            }
    .product_block_item_name{
        font-size: 85%;
        line-height: 100%;
        }
        .product_block_item_price{
            font-size: 85%;
            line-height: 100%;
            }
        
    .menu__body::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: #FFFFFF;
        z-index: 1002;
    }
    .menu__img{
        padding: 0 10px 0 0;    
    }
    .mobile__menu_search{
        width: 85%;
        height: 100%;
        margin: 0 auto;
        background: #EFEFEF;
    border-radius: 4px;
    border: 1px #FFF solid;
    outline: none;
font-size: 60%;
line-height: 20px;
color: #707070;
padding: 6px 0 6px 30px;
    }
    .li_before{
        position: relative;
    }
    .li_before::before{
        content:url(./img/icon/search_icon_grey.png);
        position: absolute;
        top: 30px;
        left: 8px;
        z-index: 100;
    }
    .header__bascet{
        border-left: none;
    }
    .touch .mobile{
        display: block;
    }
    .header__img{
    margin: -2px 0 0 152px;
    
    }
    .touch .mobile_basket{
        display: none;
    }
    .touch .only-pc{
        display: none;
    }
    .header__logo{margin: 0 207px 0 0;}
    .header__bascet{flex-wrap: wrap;}
    .menu__icon{
        z-index: 15;
        display: block;
        position: relative;
        left: 80%;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after{
left: 0;
position: absolute;
height: 10%;
width: 100%;
transition: all 0.3s ease 0s;
background: #000000;
    }
    .menu__icon::before,
    .menu__icon::after{
       content: ''; 
    }
    .menu__icon::before{
top: 0;
    }
    .menu__icon::after{
        bottom: 0;
    }
    .menu__icon span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu__icon.activ span{
        transform: scale(0) translate(0px, -50%);
    }
    .menu__icon.activ::before{
        top:50%;
        transform: rotate(-45deg) translate(0, -50%);
    }
    .menu__icon.activ::after{
        bottom:50%;
        transform: rotate(45deg) translate(0, 50%);
    }
    .menu__body{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        transition: left 0.3s ease 0s;
        overflow: auto;
        z-index: 10;
    }
    .menu__body.activ{
        z-index: 14;
    }
    .header__menu_list{
        width: 90%;
        position: absolute;
        top: 100px;
        left: 35px;
        display: flex;
        flex-direction: column;
        padding: 0 0 39px 0;
        z-index: 1000;
    }
   
    .header__menu_list a{
        font-style: normal;
font-weight: 400;
font-size: 100%;
line-height: 26px;
    }
    .hidden{
        overflow: hidden;
        opacity: 0;
        transition: 500ms;
    }
    .header__menu li{
        padding: 24px 0 0 0;
    }
   
}
@media(max-width: 700px){
    .price__head{
    font-weight: 500;
    font-size: 120%;
    color: #FFFFFF;
    z-index: 5;
    padding: 0 0 15px 0;
    margin: 0;
    }
    .price__price{
        font-style: normal;
    font-weight: 400;
    font-size: 75%;
    color: #FFFFFF;
    padding: 0 0 20px 0;
    }
    .price__button a{
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-weight: 700;
        font-size: 80%;
        line-height: 22px;
        color: #FFFFFF;
        padding: 9px 0 9px 0;
    }
    .head__left{
        font-size: 120%;
        }
             .head__right{
                font-size: 80%;
                }
    .menu__body::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: #FFFFFF;
        z-index: 1001;
    }
    .product_block_item{
        width: 31.333%;
    }
    .product_block_item img{
        width: 100%;
    }
    .header__img{
        margin: -2px 0 0 52px;
    }
    .header__menu_list{
        position: absolute;
        top: 100px;
        left: 35px;
        display: flex;
        flex-direction: column;
        z-index: 1000;
    }
}
@media(max-width: 550px){
    .filter__head_search{
        width: 90%;
    }
    .filter__select{
        width: 90%;
    }
    .filter__price{
        width: 150%;
    }
    .filter_product .product_block_item {
        width: 47%;

    }
    .container-slider .swiper-pagination-bullet-active{
        width: 5px;
        height: 5px;
       
      }
      .container-slider .swiper-pagination-bullet{
        width: 4px;
        height: 4px;
      }
    .main__txt{
        padding: 0 0 0 20px;
    }
    .header__logo{margin: 0 177px 0 0;}
    .menu__icon{
        left: 70%;
    }
    .price__head{
        font-style: normal;
    font-weight: 500;
    font-size: 105%;
    color: #FFFFFF;
    z-index: 5;
    padding: 0 0 10px 0;
    margin: 0;
    }
    .price__price{
       
    font-size: 100%;
    color: #FFFFFF;
    padding: 0 0 10px 0;
    }
    .price__button a{
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-style: normal;
        font-weight: 700;
        font-size: 85%;
        line-height: 22px;
        color: #FFFFFF;
        padding: 8px 0 8px 0;
    }
    .product_block_item_name{
        font-size: 80%;
    }
    .product_block_item_price{
        font-size: 80%;
    }
    .head__left{
        font-size: 105%;    
        }
         .head__right{
            font-size: 75%;

            }
    .menu__body::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: #FFFFFF;
        z-index: 1001;
    }
    .header__img{
        margin: -2px 0 0 0;
    }
    .product_block_item{
        width: 49%;
    }
    .header__menu_list{
        position: absolute;
        top: 100px;
        left: 35px;
        display: flex;
        flex-direction: column;
        z-index: 1000;
    }
}
@media(max-width: 460px){
    .footer__block__email a{
        right: 5px;
    }

   .footer__block__email{
    order: 1;
    min-width: 150px;
   }
    .menu__icon{
        left: 85%;
    }
    .price__head{
      
    font-weight: 500;
    font-size: 80%;
    color: #FFFFFF;
    z-index: 5;
    padding: 0 0 10px 0;
    margin: 0;
    }
    .price__price{
        font-style: normal;
    font-weight: 400;
    font-size: 60%;
    color: #FFFFFF;
    padding: 0 0 10px 0;
    }
    .price__button{
        width: 80%;
    }
    .price__button a{
        display: flex;
        justify-content: center;
        text-decoration: none;
        font-weight: 700;
        font-size: 55%;
        line-height: 22px;
        color: #FFFFFF;
        padding: 5px 0 5px 0;
    }
    .product_block_item_name{
        font-size: 70%;
    }
    .product_block_item_price{
        font-size: 70%;
    }
    .menu__body::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: #FFFFFF;
        z-index: 1001;
    }
    .header__img{
        margin: -2px 0 0 3px;
    }
    .header__logo{margin: 0 0 0 0;}
    .header__menu li{
        margin: 0 18px 0 15px;
    }
    .header__menu_list{
        position: absolute;
        top: 100px;
        left: 20px;
        display: flex;
        flex-direction: column;
    z-index: 1000;
    }
    .basket{
        margin: 0 0 0 30px;
    }
}
@media (max-width: 320px) {
   .price__button{
    width: 50%;
    height: 20%;
   }
   .price__button a{
    font-size: 40%;
   }
   
}